@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.landing-template {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  max-width: 30rem;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out 4.5s;
  padding-bottom: 4rem;

  @media (max-width: 30rem) {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
  }
}

.landing-template__logo {
  max-width: 20rem;
  max-height: 20rem;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;

  @media (max-width: 35rem) {
    width: 70%;
    height: 70%;
    margin-bottom: 1rem;
  }

  @media (max-width: 400px) {
    width: 50%;
    height: 50%;
  }

  path {
    stroke-width: 0.125rem;
    stroke: colors.$orange100;
    stroke-dasharray: 260rem;
    stroke-dashoffset: 260rem;
    fill: transparent;
    transition: stroke-dashoffset 1.5s linear, fill 0.25s ease-in-out 1.5s;
  }
}

.landing-template__heading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1em;
  margin-bottom: 2rem;
  color: colors.$purple300;
  clip-path: inset(0 50% 0 50%);
  transition: clip-path 0.5s ease-in-out 1.5s;

  @media (max-width: 30rem) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.landing-template__progressbar {
  margin-bottom: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1.8s;

  @media (max-width: 30rem) {
    margin-bottom: 1rem;
  }
}

.landing-template__info {
  font-size: 0.875rem;
  line-height: 1.5em;
  color: colors.$charcoal300;
  max-width: 18rem;
  margin: auto;
  opacity: 0;
  transform: translateY(25%);
  transition: opacity 0.5s ease-in-out 1.5s, transform 0.5s ease-in-out 1.5s;
}

.landing-template__start-button {
  min-width: 8rem;
  clip-path: inset(0 50% 0 50%);
  transition: clip-path 0.5s ease-in-out 2s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.landing-template.animate {
  .landing-template__logo {
    path {
      stroke-dashoffset: 0;
      fill: colors.$orange400;
    }
  }

  .landing-template__heading {
    clip-path: inset(0 0 0 0);
  }

  .landing-template__progressbar {
    opacity: 1;
  }

  .landing-template__info {
    opacity: 1;
    transform: translateY(0);
  }

  .landing-template__start-button {
    clip-path: inset(0 0 0 0);
  }
}
