@use "/src/assets/styles/colors.scss";

.text-input {
  background-color: silver;
  position: relative;
  box-sizing: border-box;
  border: 0.0625rem solid colors.$charcoal400;
  border-radius: 0.25rem;
}

.text-input__input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  box-sizing: border-box;
  background-color: colors.$charcoal700;
  border-radius: 0.25rem;
}

.text-input__label {
  display: block;
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  right: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.875rem;
  background-color: colors.$charcoal700;
  padding: 0 0.5rem;
  font-style: italic;
  color: colors.$charcoal200;
  clip-path: inset(0 0 0 100%);
  transition: clip-path 0.3s ease-in-out;
}

.text-input__input:not(:placeholder-shown) + .text-input__label {
  clip-path: inset(0 0 0 0);
}
