@use "/src/assets/styles/colors.scss";

.welcome-template {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 30rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.welcome-template__heading {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 1em;
  font-weight: 500;
}

.welcome-template__form {
  position: relative;
  width: 100%;
}

.welcome-template__form__submit-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.welcome-template__play-button {
  margin-top: 4rem;
  width: 8rem;

  &.disabled {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(100);
  }
}

.welcome-template__edit-button {
  font-size: 1.75rem;
  height: 2rem;
  line-height: 2rem;
  background-color: transparent;
  border: none;
  padding: 0 2rem;
  margin: 0;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.125rem;
  color: colors.$purple300;
}

.welcome-template__edit-button__icon {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 0.375rem;
  right: 0.375rem;
  opacity: 0;
  transform: translateX(0.25rem);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  path {
    fill: colors.$purple400;
  }
}

.welcome-template__edit-button:hover {
  .welcome-template__edit-button__icon {
    transform: translateX(0);
    opacity: 1;
  }
}
