@use "/src/assets/styles/colors.scss";

.link {
  color: colors.$charcoal100;
}

.link--plain {
  @extend .link;
}

.link--button {
  @extend .link;
  display: inline-block;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0.25rem;
  border: 0.0625rem solid colors.$orange400;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    background-color: colors.$orange400;
    color: colors.$charcoal700;
    border-color: colors.$orange200;
  }
}
