$charcoal100: #212121;
$charcoal200: #4d4d4d; // rgba($charcoal, .8) over pure white
$charcoal300: #7a7a7a; // rgba($charcoal, .6)  over pure white
$charcoal400: #a6a6a6; // rgba($charcoal, .4)  over pure white
$charcoal500: #d3d3d3; // rgba($charcoal, .2)  over pure white
$charcoal600: #e8e8e8; // rgba($charcoal, .1)  over pure white
$charcoal700: #f4f4f4; // rgba($charcoal, .05)  over pure white

$orange100: #3d1c09; // rgba($orange400, .25) over pure black
$orange200: #793811; // rgba($orange400, .50) over pure black
$orange300: #b55419; // rgba($orange400, .75) over pure black
$orange400: #f27022;
$orange500: #f59459; // rgba($orange400, .75) over pure white
$orange600: #f8b790; // rgba($orange400, .50) over pure white
$orange700: #fcdbc8; // rgba($orange400, .25) over pure white

$purple100: #170b24; // rgba($purple400, .25) over pure black
$purple200: #2e1749; // rgba($purple400, .50) over pure black
$purple300: #45226d; // rgba($purple400, .75) over pure black
$purple400: #5c2d91;
$purple500: #8562ad; // rgba($purple400, .75) over pure white
$purple600: #ad96c8; // rgba($purple400, .50) over pure white
$purple700: #d6cae3; // rgba($purple400, .25) over pure white

$green100: #002a27; // rgba($green400, .25) over pure black
$green200: #00554f; // rgba($green400, .50) over pure black
$green300: #007f76; // rgba($green400, .75) over pure black
$green400: #00a99d;
$green500: #40bfb6; // rgba($green400, .75) over pure white
$green600: #7fd4ce; // rgba($green400, .50) over pure white
$green700: #bfe9e6; // rgba($green400, .25) over pure white
