@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";
@import "/src/assets/styles/partials/reset";
@import "/src/assets/styles/partials/fontPopins";

:root {
  font: 400 16px/1.62em "Poppins";
  background-color: colors.$charcoal700;
  color: colors.$charcoal100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @extend .scrollbar;
}

::selection {
  color: colors.$charcoal100;
  background-color: colors.$charcoal500;
}

button,
input,
textarea {
  font-family: "Poppins" !important;
}
